fastapi
numpy
opencv_contrib_python
opencv_python
Pillow
pyautogui
PyQt5
PyQt5_sip
Requests
rich
torch
torchaudio
transformers==4.54.1
uvicorn
modelscope

# GPT-SoVITS requirements
soundfile
ffmpeg
librosa
pytorch_lightning
matplotlib
x_transformers
peft
jieba
fast_langdetect
split_lang
cn2an
pypinyin
jieba_fast
python-multipart
bitsandbytes